In [1]:
import pandas as pd

In [10]:
#Create a DataFrame from a dictionary.
data = { 'Name' : ['Shen Lee',
              'Leon Buhle',
              'Tracy Adams',
              'Lebo Sinuka',
              'Lauren Pierce',
              'Monika Bond',
              'Natahs Allsopp',
              'Nicholas Winter',
              'Christopher Eckson',
              'Siobhan O’Malley'],
        'Annual' : [23, 20, 15, 19, 21, 21, 10, 15, 16, 23],
        'Sick' : [10, 8, 10, 9, 7, 10, 9, 10, 8, 5],
        'Personal' : [5, 4, 5, 0, 5, 2, 5, 4, 2, 5],
        'Bonus' : [3, 0, 0, 3, 3, 6, 0, 3, 6, 3]}
row_labels = [215, 216, 217, 218, 219, 220, 221, 222, 223, 224]
leave_allowance = pd.DataFrame(data, columns=['Name', 'Annual', 'Sick', 'Personal', 'Bonus'],
                               index = row_labels)
leave_allowance.index.name = 'Staff_ID'

In [13]:
#Observe newly created table.
leave_allowance

                        Name  Annual  Sick  Personal  Bonus
Staff_ID
215                 Shen Lee      23    10         5      3
216               Leon Buhle      20     8         4      0
217              Tracy Adams      15    10         5      0
218              Lebo Sinuka      19     9         0      3
219            Lauren Pierce      21     7         5      3
220              Monika Bond      21    10         2      6
221           Natahs Allsopp      10     9         5      0
222          Nicholas Winter      15    10         4      3
223       Christopher Eckson      16     8         2      6
224         Siobhan O’Malley      23     5         5      3